<h1>About Me</h1>
<p>
  I'm a full-stack developer working at <a href="http://crowdriff.com/" target="_blank">CrowdRiff</a> in Toronto.
  This blog is usually technical in nature, although I try to have non-coding posts from time to time. Technology-wise,
  I'm currently using Scala, Python or Node.js for backend systems, AngularJS and Sass for the frontend, and a mix of
  SQL and NoSQL databases. As such, my posts will touch on many of those areas. However I love to learn and to learn
  through doing, so this blog also acts as a log of my experiments.
</p>
<p>
  <a href="https://twitter.com/kentenglish" target="_blank">
    <img src="/assets/img/twitter.png" title="Kent English on Twitter" alt="Twitter" />
  </a>
  <a href="http://instagram.com/kentenglish" target="_blank">
    <img src="/assets/img/instagram.png" title="Kent English on Instagram" alt="Instagram" />
  </a>
  <a href="http://www.linkedin.com/in/kentenglish" target="_blank">
    <img src="/assets/img/linkedin.png" title="Kent English on LinkedIn" alt="LinkedIn" />
  </a>
</p>