nav {
  background-color: $secondary-color;
  height: 35px;
  .zv-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      a {
        @include transition-property(all);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
        color: $off-white;
        display: block;
        margin: 0 rem-calc(5);
        padding: rem-calc(5 8 5 8);
        &:hover {
          background-color: $tertiary-color;
          color: $primary-color;
        }
      }
    }
  }
}

@media #{$medium-up} {
  nav {
    float: left;
    height: 100%;
    overflow-y: auto;
    width: 120px;
    .zv-nav {
      border-top: rem-calc(1) solid $tertiary-color;
      li {
        float: none;
        a {
          background-color: $secondary-color;
          border-bottom: rem-calc(1) solid $tertiary-color;
          margin: 0;
        }
      }
    }
  }
}

@media #{$large-up} {
  nav {
    width: 240px;
  }
}