// Make sure the charset is set appropriately
@charset "UTF-8";

// Set some colors
$primary-color: #88D21E;
$secondary-color: #727272;
$tertiary-color: #575757;
$off-white: #efefef;

// Import normalize and foundation to keep from needing multiple CSS files
@import "compass/css3",
        "normalize",
        "foundation";

html, body {
  background-color: $off-white;
  height: 100%;
  overflow-y: auto;
}

nav {
  background-color: $secondary-color;
  height: 35px;
  .zv-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      a {
        @include transition-property(all);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
        color: $off-white;
        display: block;
        margin: 0 rem-calc(5);
        padding: rem-calc(5 8 5 8);
        &:hover {
          background-color: $tertiary-color;
          color: $primary-color;
        }
      }
    }
  }
}

footer {
  bottom: 0;
  font-size: rem-calc(12);
  padding: 4px 0;
  position: absolute;
  width: 100%;
}

.panel.browsehappy {
  margin: 0;
}

.container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  > div {
    padding: 0 40px 20px 40px;
  }
}

@media #{$medium-up} {
  nav {
    float: left;
    height: 100%;
    overflow-y: auto;
    width: 120px;
    .zv-nav {
      border-top: rem-calc(1) solid $tertiary-color;
      li {
        float: none;
        a {
          background-color: $secondary-color;
          border-bottom: rem-calc(1) solid $tertiary-color;
          margin: 0;
        }
      }
    }
  }
}

@media #{$large-up} {
  nav {
    width: 240px;
  }
}